body{
    background-color: white;
    color: teal;
    font: 1em / 1.4 Helvetica;
    padding: 1em;
    margin: 0;
}

h1{
    font-size: 2rem;
    margin: 0;
}

h2{
    font-size: 1.6rem;
    margin: 0;
}

h3{
    font-size: 1.2rem;
    margin: 0;
}

h1, h2, h3{
    color:purple;
}
p{
    color: gray;
    margin: 0.5em 0;
}

ul{
    border: 2px solid orange;
}

ol{
    border: 2px solid purple;
}

ol, ul {
    padding: 5px 20px;
    border-radius: 4px;
  }
     