*{
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: hsl (0, 0%, 95%);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1  {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: hsl(0, 2%, 36%);
    margin: 0 auto;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    font-size: 13px;
}

p{
    font-family: "Roboto", sans-serif;
    color: hsla(0, 1%, 47%, 0.75);
    text-align: justify;
    width: 200px;
    font-size: 12px;

}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1440px;
    border-radius: 10px;
}

.box{
    overflow: hidden;
    padding: 40px 40px 40px 40px;
    width: 300px;
    height: 500px;
    font-family: "Roboto", sans-serif;
    color: hsl(0, 0%, 95%);
}

.red-box {
    background-color: rgb(255, 219, 141);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.green-box{
    background-color: rgb(131, 208, 166);
}

.blue-box{
    background-color: rgb(127, 202, 231);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.button{
    padding: 10px;
    border-radius: 25px;
    border: hsl(0, 0%, 95%);
    align-items: center;
    width: 150px;
    font-size: 15px;
    font-family: "Roboto";
    cursor: pointer;
    text-align: center;
}

button:hover{ background-color: #e2e1dd;}

.red-button{
    background-color: hsl(0, 0%, 95%);
    color: hsl(31, 77%, 52%);
    margin-top: 25px;
}


.green-button {
    background-color: hsl(0, 0%, 95%);
    color:hsl(179, 100%, 13%);
    margin-top: 78px;
}


.blue-button {
    background-color: hsl(0, 0%, 95%);
    color:hsl(184, 100%, 22%);
    margin-top: 20px;
}


